@media(width <= 1200px){
    .logo{
        display: none;
    }
    .gridlayout{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .centro{
        display: flex;
        flex-direction: column;
    }
    .pagContacto{
        display: flex;
        flex-direction: column;
    }
    .estado{
        display: none;
    }
}
