@use "../utilities/mixin" as *;

#gridlayout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.tarjeta{
    @include flex (column, center, center, 20px)
}
.tarjeta img{
    box-shadow: 0 0 40px 0 #000f;
}

.tarjeta{
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-delay: 5ms;
}
.tarjeta:hover{
    transform: translate(-9px, -20px) scale(1);
    color: antiquewhite;
}

.tarjeta{
    p{
        white-space: pre;
        text-align: left;
    }
}