.pagContacto{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.contacto{
    display: flex;
    justify-content: baseline;
    align-items: stretch;
    flex-direction: column;
    font-weight: bold;
} 

.form-control{
    min-width: 400px;
}