.contenedor{
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.turnos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 3fr 3fr;
    max-width: 500px;
    margin-top: 100px;
}

.contenedor label{
    color: beige;
    font-weight: 900;
}
.contenedor input{
    border-bottom: 2px solid black;
    border-radius: 4px;
}
select{
    border-bottom: 2px solid black;
    border-radius: 4px;
}