@import "../utilities/mixin.scss";

#gridlayout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.tarjeta{
    @include flex (column, center, center, 20px)
}
.tarjeta img{
    box-shadow: 0 0 40px 0 #000f;
}
